/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
/* line 9, ../sass/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 30, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 39, ../sass/_reset.scss */
nav ul {
  list-style: none;
}

/* line 43, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 47, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 53, ../sass/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 62, ../sass/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 69, ../sass/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 76, ../sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 80, ../sass/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 85, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 91, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 100, ../sass/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 3, ../sass/main.scss */
html, body {
  background-color: white !important;
  margin: 0;
  font-size: 12px;
  font-family: 'Tinos';
}

/* line 10, ../sass/main.scss */
#main {
  display: block;
  width: 100%;
}

/* line 15, ../sass/main.scss */
.table {
  width: 210mm;
  height: 297mm;
  page-break-after: always;
}

/* line 21, ../sass/main.scss */
td {
  width: 131mm;
  height: 92.5mm;
  margin: 0;
  text-align: center;
}

/* line 28, ../sass/main.scss */
.front td {
  border-bottom: 1px solid #cbcbcb;
  text-align: center;
  vertical-align: middle;
}

/* line 33, ../sass/main.scss */
.front td.first {
  border-right: 1px solid #cbcbcb;
}

/* line 36, ../sass/main.scss */
.img {
  height: 80mm;
  width: 80mm;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  margin: auto;
}

/* line 45, ../sass/main.scss */
.name {
  font-size: 30px;
  text-align: center;
  padding-top: 15mm;
}

/* line 51, ../sass/main.scss */
.dienst {
  font-size: 15px;
  padding-top: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
}

/* line 57, ../sass/main.scss */
.kinder {
  font-size: 15px;
  padding-top: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
}

/* line 64, ../sass/main.scss */
.page-break {
  display: block;
  page-break-before: always;
}
