/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
/* line 9, ../sass/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 30, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 39, ../sass/_reset.scss */
nav ul {
  list-style: none;
}

/* line 43, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 47, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 53, ../sass/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 62, ../sass/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 69, ../sass/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 76, ../sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 80, ../sass/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 85, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 91, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 100, ../sass/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 18, ../sass/pdf.scss */
html, body {
  background-color: white !important;
  margin: 0;
  font-size: 12px;
  line-height: 120%;
  font-family: 'Tinos';
}

/* line 26, ../sass/pdf.scss */
.person-list {
  display: flex;
  flex-direction: column;
  max-width: 128mm;
  width: 128mm;
  padding-left: 10mm;
  padding-right: 10mm;
  overflow: hidden;
}
/* line 40, ../sass/pdf.scss */
.person-list .item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #000;
  white-space: normal;
  width: 128mm;
}
/* line 47, ../sass/pdf.scss */
.person-list .item .avatar {
  width: 97px;
  padding: 2px;
}
/* line 51, ../sass/pdf.scss */
.person-list .item .avatar .image {
  height: 97px;
  width: 97px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 8px;
}
/* line 60, ../sass/pdf.scss */
.person-list .item .text {
  display: flex;
  flex-direction: column;
  padding-left: 2mm;
  width: 100.33542mm;
}
/* line 66, ../sass/pdf.scss */
.person-list .item .text .top {
  display: flex;
  flex-grow: 3;
  flex-direction: row;
  padding-top: 0.5em;
}
/* line 72, ../sass/pdf.scss */
.person-list .item .text .top .info {
  width: 180px;
}
/* line 73, ../sass/pdf.scss */
.person-list .item .text .top .info .name {
  font-weight: 700;
  margin-bottom: 2px;
}
/* line 81, ../sass/pdf.scss */
.person-list .item .text .top .dates {
  width: 90px;
}
/* line 88, ../sass/pdf.scss */
.person-list .item .text .bottom {
  align-self: flex-end;
  width: 99.68958mm;
  padding-right: 5px;
  padding-bottom: 3px;
}
/* line 98, ../sass/pdf.scss */
.person-list .unbreakable {
  page-break-inside: avoid !important;
  display: inline-block;
}
/* line 103, ../sass/pdf.scss */
.person-list .unbreakable:after {
  content: '';
  display: block;
  height: 0px;
  visibility: hidden;
}
