<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic' rel='stylesheet'
        type='text/css' />
    <link href='stylesheets/pdf.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="main">
        {{#each families}}
            <div class="familiy">
                {{#if this.0.firstname}}
                    <span class="lastname">{{this.0.lastname}}</span> 
                    {{#each this}}<span class="name">{{firstname}}</span>{{/each}}
                {{else}}
                    <span class="lastname">{{this.lastname}}</span> <span class="name">{{firstname}}</span>
                {{/if}}
                <div class="checkbox" ></div>
            </div>
            
        {{/each}}
    </div>


</body>

</html>