@import "compass/css3";
@import "compass/utilities";
@import "compass/support";

$image-width: 115px;
$image-height: 110px;

@page {
  size: A5;
  font-size: 11pt;
  margin: 1.0cm 1.3cm 1.0cm 1.3cm;
  line-height: 120%;
  font-family: 'Tinos', serif;
  background-color: #fff;
}

body {
  margin: 0;
  font-size: 11pt;
  line-height: 120%;
  font-family: 'Tinos', serif;
  background-color: #fff;

}

h1,h2,h3,h4,h5,h6 {
  color: #3d4d5b;
}

.float-clear { clear: both; }

.leader {
  .avatar {
    float:left;
    margin-right: 1em;
    margin-left: 1em;
    border-radius: 50%;
  }
  .text {
    padding-top: 1em;
  }
}


.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dienst-header {
  padding-top: 1.5em;
}