<!doctype html>
<html lang="en" id="pdf-export-html">
<head>
    <meta charset="utf-8">

    <link href='http://fonts.googleapis.com/css?family=Tinos:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
    <link href='stylesheets/pdf.css' rel='stylesheet' type='text/css' />

</head>

<body>
{{#if options.cover}}
<div class="cover-front">
    <div class="logo"></div>
    <div class="title">
        <p class="name">Gemeindeliste<p>
        <p class="date">Februar 2016</p>
    </div>
</div>
{{/if}}
<div class="person-list">
    {{#each personGroups}}
    <div class="unbreakable">
        <div class="item">
            <div class="avatar">
                <div class="image" style="background-image:url('{{this.picture}}');">
                </div>
            </div>
            <div class="text">
                <div class="top">
                    <div class="info">
                        <div class="name">{{this.lastname}}, {{this.firstname}} </div>
                        <div class="str">{{this.home_address}}</div>
                        <div class="str">{{this.home_city}} {{this.home_postcode}}</div>
                    </div>
                    <div class="dates">
                        {{#if this.birthday}}
                        <div class="tel">G: {{{this.birthday}}}</div>
                        {{/if}}
                        {{#if this.dates.baptism}}
                        <div class="tel">T: {{{formatDateGerman this.dates.baptism}}}</div>
                        {{/if}}
                    </div>
                    <div class="contact">
                        {{#if this.phone}}
                        <div class="tel">Tel: {{this.phone}}</div>
                        {{/if}}

                        {{#if this.mobile}}
                        <div class="tel">Mob: {{this.mobile}}</div>
                        {{/if}}
                    </div>
                </div>
                <div class="bottom">
                    {{#if this.emaill}}
                    <div class="tel">E-Mail: {{this.email}}</div>
                    {{/if}}
                    {{#if this.genChildren}}
                    <div class="children">Kinder: {{this.genChildren}} </div>
                    {{/if}}
                    {{#if this.genGroups}}
                    <div class="dienst">Dienste: {{this.genGroups}} </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

{{#if options.cover}}
<div class="cover-back">
</div>
{{/if}}

</body>
</html>



