@import "reset";

$height: 210mm;
$width: 148mm;

html, body {
  background-color: white !important;
  margin: 1cm;
  font-size: 12px;
  font-family: 'Roboto';
}

#main {
  display: block;
  width: 100%;
}

.familiy {
    border-bottom: 1px solid rgb(119, 119, 119);
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-right: 3em;
    margin-left: 3em;
}

.checkbox {
    border: 1px solid rgb(107, 107, 107); 
    width: 8px; 
    height: 8px; 
    display: inline-block;
    float: right;
}

.name {
    margin-right: 0.5em;
    font-weight: lighter;
    color: rgb(43, 43, 43);
}

.lastname {
    font-weight: bold;;
}


.page-break {
  display:block;
  page-break-before: always;
}
