<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Tinos:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'/>
    <link href='../gutenberg/gutenberg.min.css' rel='stylesheet' type='text/css'/>
    <link href='../gutenberg/themes/modern.min.css' rel='stylesheet' type='text/css'/>
    <link href='stylesheets/long.css' rel='stylesheet' type='text/css'/>


</head>

<body>
<div id="main">
    <img class="logo" src="https://ecg.berlin/wp-content/uploads/2017/05/favicon.png" width="200px" height="200px"/>

    <h1>Dienste in der Gemeinde</h1>

    {{#each groups}}
    <div class="dienst">
        <h3 class="dienst-header">{{ this.name }}</h3>
        <i>{{ this.description }}</i>

        <b>Mitarbeiter</b>
        <ul>
            {{#each this.people}}
            <li>{{this.firstname}} {{this.lastname}}</li>
            {{/each}}
        </ul>

        {{#if this.leader}}

        <b>Kontakt</b>
        {{#each this.leader}}
        <div class="leader">
            <img src="{{this.picture}}" height="100px" width="100px" class="avatar"/>
            <p class="text">
                <b>{{this.firstname}} {{this.lastname}}</b><br/>
                <span>{{this.email}}</span><br/>
                <span>{{this.mobile}}</span>
            </p>

        </div>
        <div class="float-clear"></div>
        {{/each}}
        {{/if}}

        {{/each}}
    </div>

</div>


</body>
</html>



