<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Tinos:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'/>
    <link href='../gutenberg/gutenberg.min.css' rel='stylesheet' type='text/css'/>
    <link href='../gutenberg/themes/modern.min.css' rel='stylesheet' type='text/css'/>
    <link href='stylesheets/long.css' rel='stylesheet' type='text/css'/>


</head>

<body>
<div id="main">
    <h1>Dienste in der Gemeinde</h1>
          <ul>
    {{#each groups}}

      <li>{{ this.name }}
        {{#each this.leader}}
       <b>{{this.firstname}} {{this.lastname}}</b>
        {{/each}}
      </li>

        {{/each}}
    </ul>

</div>


</body>
</html>



