<div class="name">{{person.firstname}} {{person.lastname}}</div>
{{#if person.genChildren}}
<div class="kinder">Kinder: {{person.genChildren}}</div>
{{/if}}

{{#if person.genGroups}}
<div class="dienst">Dienste: {{person.genGroups}}</div>
{{/if}}