<table class="front">
    <tr class="first">
        <td class="first">
            {{{card.[0]}}}
        </td>
        <td>
            {{{card.[1]}}}
        </td>
    </tr>
    <tr>
        <td class="first">
            {{{card.[2]}}}
        </td>
        <td>
            {{{card.[3]}}}
        </td>
    </tr>
    <tr>
        <td class="first">
            {{{card.[4]}}}
        </td>
        <td>
            {{{card.[5]}}}
        </td>
    </tr>
    <tr>
        <td class="first">
            {{{card.[6]}}}
        </td>
        <td>
            {{{card.[7]}}}
        </td>
    </tr>
</table>
<div class="page-break"></div>
